.title {
  color:darkgreen;
}

.subtitle {
  color:grey;
}

.heading: {
padding-botheighttom:300px;
  color:green;
}

#pieDivRight {
  min-height: 300px;
}

 .node rect {
   fill-opacity: .9;
   shape-rendering: crispEdges;
 }
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}
